# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Development Tools
.pytest_cache/
.ruff_cache/
.pyrightconfig.json
.vscode/
.idea/
*.swp
*.bak

# Project specific
firmware/dashboard/.venv/
firmware/dashboard/.ruff_cache/
firmware/dashboard/.pytest_cache/
